
<form action="/landmarks/<%=@landmark.id%>" method="POST">


  <label> New Landmark:</label><br>
    <p>Name: <input name=landmark[name] type="text" id="name" value="<%=@landmark.name%>"></p>
    <p>Year: <input name=landmark[year_completed] type="text" id="year_completed" value="<%=@landmark.year_completed%>"></p>
    <p>Figure: <input name=landmark[figure_id] type="text" id="new_landmark_figure_id" value="<%=@landmark.figure_id%>"></p>
    <br></br>

<input type="submit" value="Save" id="Edit Landmark">
</form>
